<p-card id="container" class="card flex justify-content-center mt-3">
  <div class="flex flex-column align-items-center justify-content-center">
    <div
      id="logo-container"
      class="flex align-items-center"
      (click)="onClickLogo()"
    >
      <img src="assets/primeng.svg" height="60" />
      <h2 class="ml-3 bold">{{ header }}</h2>
    </div>

    <div class="card mt-3">
      <p-tabMenu
        [model]="reportsTabsItems"
        [activeItem]="activeReportTabItem"
      ></p-tabMenu>
    </div>
  </div>

  <app-report *ngIf="reportType" [reportType]="reportType"></app-report>
</p-card>
